* {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
    border: 3px solid #000;
    margin-left: 340px;
}

.gridItem {
    width: calc(100%/ 16);
    height: calc(100%/ 16);
    box-sizing: border-box;
    border: 2px solid #ccc;
}

#btn {
    background-color: #ef05ef;
    padding: 12px;
    border: none;
    border-radius: 5px;
}